# Runtime env template. start.sh will generate .env.runtime automatically.
MARKDOWN_DIR=/abs/path/to/markdown
EDITOR_STATIC_DIR=/abs/path/to/editor_static
PIC_DIR=_assets
HOST_PORT=8080
EDITOR_PORT=8081
COMPOSE_PROJECT_NAME=hugo_blog
